<div class="category-tab"><!--category-tab-->
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <% @subcategory.each_with_index do |subcategory, index| %>
        <% if subcategory.category_id != nil%>
            <li class= <%= 'active' if params[:sub_category].to_s == subcategory.id.to_s%> >
               <%= link_to category_brand_path(sub_category: subcategory.id) do %>
                  <%=subcategory.name%>
               <%end%>
              </li>
        <%end%>
      <% end %>      
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane fade active in" id="tshirt">
      <% @product.each do |product|%>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <%= link_to product_path(product)do%>
                  <%= image_tag product.pictures.find_by(imageable_id: product.id).image %>
                  <h2>&#8377; <%=product.price%></h2>               
                  <p><%= truncate(product.name, length: 22, omission: '...') %></p>
                <%end%>
                 <%= link_to "Add to Cart",cart_items_path(product_id: product.id),method: :post, class: "fa fa-shopping-cart btn btn-default add-to-cart"%>
              </div> 
            </div>
          </div>
        </div>
      <%end%>   
    </div>
  </div>
</div><!--/category-tab-->