<!DOCTYPE html>
<html>
<head>

  <title>Stud1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= image_tag "abc.png", style: "width:300px;height:100px" %>

</head>
<body>

<%= yield %>


</body>
</html>
