<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.member, size: 50), micropost.member %>
  <%= link_to micropost.member.username, micropost.member %>
  <%= micropost.content %>
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  
</li>
