<div class="category-tab"><!--category-tab-->
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <%if @category.present? %>
        <%if @category.subcategories.present? %>
          <% @categories.each_with_index do |subcategory, index| %>
            <% if subcategory.category_id == @category.id %>
                <%#if subcategory.present?%>
                  <li class= <%= 'active' if params[:sub_category].to_s == subcategory.id.to_s%> >
                    <%#binding.pry%>
                    <%= link_to category_path(id: @category.id,sub_category: subcategory.id) do %>
                      <%=subcategory.name%>
                    <%end%>
                  </li>
            <%end%>
          <% end %>
        <%end%>
      <%end%>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane fade active in" id="tshirt" >
      <%if @products.present?%>
        <% @products.each do |product|%>
            <div class="col-sm-3">
              <div class="product-image-wrapper">
                <div class="single-products">
                  <div class="productinfo text-center">
                    <%= link_to product_path(product)do%>
                      <%= image_tag product.pictures.find_by(imageable_id: product.id).image %>
                      <h2>&#8377; <%=product.price%></h2>
                      <p><%= truncate(product.name, length: 22, omission: '...') %></p>
                    <%end%>
                    <%= link_to "Add to Cart",cart_items_path(product_id: product.id),method: :post, class: "fa fa-shopping-cart btn btn-default add-to-cart"%>
                  </div> 
                </div>
              </div>
            </div>
        <%end%>
      <%end%>
    </div> 
  </div>
</div><!--/category-tab-->