<!DOCTYPE html>
<html>
  <head>
    <title>Eshopper</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render '/commonrender/header' %>
    <div id="flash">
      <p>
        <div class="flash_bar_align"><div class="flash_text_align" ><%= bootstrap_flash %></div></div>
      </p>
    </div>
    <%= yield %>
    <%= render '/commonrender/footer' %>
  </body>
</html>
