<%= form_for :student, url: student_path(@student), method: :patch do |f| %>
 
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>
 
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :email_id %><br>
    <%= f.text_field :email_id %>
  </p>

  <p>
    <%= f.label :mobile_number %><br>
    <%= f.text_field :mob_number %>
  </p>

  <p>
    <%= f.label :confirm_mobile_number %><br>
    <%= f.text_field :con_mob_number %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', controller: 'welcome' %>